<ul>
    <% if (!auth){%>
        <nav class="navbar" role="navigation" aria-label="main navigation">
           <div class="navbar-brand">
                <a class="navbar-item" href="/">
                <span class="first">S</span> <p class="speaksh">peaksh</p>
                </a>
            
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                  <span aria-hidden="true"></span>
                </a>
             </div>
             <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="/users/register">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light"  href="/users/login">
                      Log in
                    </a>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </nav>
      
    <%}else{%>
        

        <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="/home">
                    <span class="first">S</span> <p class="speaksh">peaksh</p>
                  </a>
              
                  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu">
                  <div class="navbar-start">
                    <a class="navbar-item"> Home  </a>
                   </div>
                   <div class="navbar-end">
                        <div class="navbar-item">
                          <div class="buttons">
                                <form action="/users/logout" method="POST">
                                    <button class="button is-primary"  type="submit">logout</button>
                                </form>
                          </div>
                        </div>
                      </div>
                </div>
                  </div>
              
                
                </div>
              </nav>
            

     
    <%}%>
