<!DOCTYPE html>
<%- include('./includes/head.ejs') %>
    <title><%= title %></title>
   
  </head>
  <body>
      <%- include('./includes/navbar.ejs')%>
    <div class="container showcase">
      <div class="columns ">
        <div class="column">
            <h1>get in touch with the whole world  .</h1>
            <a href="/users/register" class="button is-success">let's get started</a>
        </div>
        <div class="column is-three-fifths">
          <img src="/images/mes.png" />
        </div>
      </div>
    </div>
    
 
   
    <%-include('./includes/bulma.ejs')%>
  
 
  </body>
</html>
